.page {
    display: grid;
    height: 100vh;
    
    // grid-template-columns: repeat(auto-fit, minmax(50vw 100vw));
    
    .page__header {
        grid-area: header;
    }
    
    .page__question {
        grid-area: question;
    }
    
    .page__arcIon {
        grid-area: arcIon;
    }
    
    grid-template-areas: "header header header header header header header header header header"
                         "question question question question question question question question arcIon arcIon"
                         "question question question question question question question question arcIon arcIon"
                         "question question question question question question question question arcIon arcIon"
                         "question question question question question question question question arcIon arcIon"
                         "question question question question question question question question arcIon arcIon"
                         "question question question question question question question question arcIon arcIon"
                         "question question question question question question question question arcIon arcIon"
                         "question question question question question question question question arcIon arcIon"
                         "question question question question question question question question arcIon arcIon";
    
    .page__branding {
        position: fixed;
        bottom: 0;
        margin-bottom: 1rem;
        justify-self: center;
        font-family: 'Goldman', cursive;
        font-size: 1.2rem;
        color: rgba(250, 160, 26, 0.6);
        user-select: none;
    }
    
    @media (max-width: 500px) {
        grid-template-areas: "header"
                             "question"
                             "question"
                             "question"
                             "question"
                             "question"
                             "question"
                             "question"
                             "arcIon"
                             "arcIon";
        // border: black dotted;
    }
}