@import './CSS/Header';
@import './CSS/Page';
@import './CSS/Question';
@import './CSS/ArcIon';
@import './CSS/Questions/Other';
@import './CSS/Questions/CheckBoxQuestion';
@import './CSS/Questions/YesNoQuestion';
@import './CSS/Questions/QuestionHelp';

* {
    margin: 0;
    padding: 0;
    
    transition: all 0.4s cubic-bezier(0.600, -0.280, 0.735, 0.045);
}

img {
    animation: ImageAppear 3s;
    
    @keyframes ImageAppear {
        0% {
            opacity: 0;
        }
        
        100% {
            opacity: 1;
        }
    }
}

.app {
    
}