@import './CSS/Header';
@import './CSS/Page';
@import './CSS/Question';
@import './CSS/ArcIon';
@import './CSS/Questions/Other';
@import './CSS/Questions/CheckBoxQuestion';
@import './CSS/Questions/YesNoQuestion';

* {
    margin: 0;
    padding: 0;
}

img {
    animation: ImageAppear 3s;
    
    @keyframes ImageAppear {
        0% {
            opacity: 0;
        }
        
        100% {
            opacity: 1;
        }
    }
}

.app {
    
}