.checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 2rem;
    
    .checkbox__question {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.6rem;
        color: #17154d;
    }
    
    .checkbox__formControl {
        margin-left: 4rem;
        margin-top: 2rem;
        
        .checkbox__formGroup {
            display: grid;
            grid-template-columns: 50% 50%;
            
            .checkbox__formControlLabel {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: #17154d;
            }
            
            .checkbox__option {
                color: #faa21a;
            }
        }
    }
    
    @media (max-width: 900px) {
        .checkbox__question {
            font-size: 1.2rem;
        }
        
        .checkbox__formControl {
            margin-top: 1rem;
            
            .checkbox__formGroup {
                grid-template-columns: auto auto auto;   
            }
        }
    }
    
    @media (max-width: 500px) {
        margin: 1rem;
        
        .checkbox__question {
            font-size: 1rem;
        }
        
        .checkbox__formControl {
            margin: 1rem;
            
            .checkbox__formGroup {
                grid-template-columns: 50% 50%;
            }
        }
    }
}