.questionHelpBackground {
    height: 95vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right top, rgba(125, 120, 255, 0.9), rgba(255, 200, 119, 0.9));
    z-index: 2;
    
    .questionHelp {
        background: white;
        box-sizing: border-box;
        padding: 2rem;
        min-height: 85vh;
        max-height: 85vh;
        width: 96%;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 0.6rem;
        z-index: 3;
        overflow-y: scroll;
        scrollbar-width: thin;
        
        h2 {
            color: #faa21a;
            font-size: 1.5vw;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-bottom: 0.5rem;
        }
        
        p {
            color: #151149;
            font-size: 1.2vw;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: justify;
            margin-left: 4rem;
            margin-bottom: 4rem;
        }
        
        @media (max-width: 1024px) {
            h2 {
                font-size: 2vw;
            }
            
            p {
                font-size: 1.4vw;
            }
        }
        
        @media (max-width: 500px) {
            padding: 1rem;
            
            h2 {
                font-size: 3.2vw;
            }
            
            p {
                font-size: 2.6vw;
                margin-left: 2rem;
            }
        }
    }
}