.arcIon {
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
    img {
        object-fit: contain;
        width: 22vw;   
    }
    
    .arcIon__speech {
        display: flex;
        flex-direction: column;
        width: max-content;
        max-width: 60vw;
        border: 3px solid #faa21a;
        padding: 80px 50px;
        margin: 30px auto;
        border-radius: 50%;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        font-family: 'Goldman', cursive;
        opacity: 0;
        position: absolute;
        right: 22rem;
        top: -2rem;
        background-color: white;
        color: #17144d;
        user-select: none;
        
        transition: all 0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045);
        
        p {
            margin: 2rem;
        }
        
        .arcIon__speech_buttons {
            display: flex;
            align-self: center;
        }
        
        .arcIon__speech_circle1 {
            border: 3px solid #faa21a;
            position: absolute;
            width: 25px;
            padding: 20px;
            border-radius: 50%;
            right: 0;
            top: 13rem;
            
            &:before {
                content: "";
                position: absolute;
                width: 25px;
                padding: 20px;
                border-radius: 50%;
                right: 0px;
                bottom: 0px;
                background: #fff;
            }
        }
        
        .arcIon__speech_circle2 {
            border: 3px solid #faa21a;
            position: absolute;
            width: 5px;
            padding: 10px 15px;
            border-radius: 50%;
            right: -2rem;
            top: 16rem;   
        }
    }
    
    @media (max-width: 1024px) {
        .arcIon__speech {
            top: 0;
            right: 18rem;
            
            .arcIon__speech_circle1 {
                right: -2rem;
            }
            
            .arcIon__speech_circle2 {
                right: -4rem;
            }
        }
    }
    
    @media (max-width: 900px) {
        .arcIon__speech {
            right: 16rem;
            padding: 40px 25px;
            top: -2rem;
            
            p {
                font-size: 1rem;
            }
            
            .arcIon__speech_circle1 {
                top: 10rem;
                right: 0rem;
            }
            
            .arcIon__speech_circle2 {
                top: 12rem;
                right: -2rem;
            }
        }
    }
    
    @media (max-width: 768px) {
        img {
            width: 16rem;
        }
        
        .arcIon__speech {
            top: 0;
            right: 16rem;
            max-width: 50vw;
            
            .arcIon__speech_circle1 {
                right: -2rem;
            }
            
            .arcIon__speech_circle2 {
                right: -4rem;
            }
        }
    }
    
    @media (max-width: 500px) {
        justify-content: flex-end;
        
        img {
            width: 10rem;
        }
        
        .arcIon__speech {
            top: -10rem;
            right: 1rem;
            padding: 0.6rem;
            margin: 0;
            // border-radius: 0%;
            border: 2px solid #faa21a;
            max-width: 88%;
            
            p {
                font-size: 1rem;
            }
            
            .arcIon__speech_circle1 {
                top: 15rem;
                right: 8rem;
                border: 2px solid #faa21a;
            }
            
            .arcIon__speech_circle2 {
                top: 17rem;
                right: 6.2rem;
                border: 2px solid #faa21a;
            }
        }
    }
}